{% extends "common/base.html" %}

{% block title %}
    Scraper Stats
{% endblock %}

{% block content %}
    
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/stat.js"></script>
    <script type="text/javascript">
        //<![CDATA[
        
        var crimeReportDayCount = [
        {% for dayData in dayCrimeReport %}
            ['{{ dayData.the_date }}', {{ dayData.day_count }}],
        {% endfor %}
        ];
        
        var feedDayNames = [    
            {% for feedData in dayFeeds %}
                '{{ feedData.0 }}',
            {% endfor %}
        ];
        
        var feedDayCounts = {};
        var feedDays = {};
        {% for feedData in dayFeeds %}
            {% for dayData in feedData.1 %}
                feedDayCounts['{{ feedData.0 }}-{{ dayData.the_date }}'] =  {{ dayData.day_count }};
                feedDays['{{ dayData.the_date }}'] = 1;
            {% endfor %}
        {% endfor %}
        feedDays = getUniqueKeys(feedDays);
    
        // Load the Visualization API and the piechart package.
        google.load('visualization', '1', {'packages':['corechart']});
        
        // Set a callback to run when the Google Visualization API is loaded.
        google.setOnLoadCallback(drawChart);
        
        function drawChart() {            
            drawCrimeReport('Day', crimeReportDayCount, 'day_chart_crime_div');
            drawFeed(feedDayNames, feedDays, feedDayCounts, 'Day', 'day_chart_feed_div');
        }
        //]]>
    </script>
    
    <div class="statTableTitle">Daily Counts</div>
        
    <table width="100%">
        <tr>
            <td style="vertical-align: top; width: 75%">
                <div id="day_chart_crime_div"></div>
            </td>
            <td style="vertical-align: top; width: 25%">
                <button onclick="makeVisible('dayCrimeCountTable', this);" class="countButton">
                    show count table
                </button>
                <table class="statTable" id="dayCrimeCountTable" style="display: none">
                    <tr>
                        <th class="statTable" colspan="2">CPD Crime Reports</th>
                    </tr>
                    {% for dayData in dayCrimeReport %}
                        <tr>
                            <th class="statTable">{{ dayData.the_date }}</th>
                            <td class="statTable">{{ dayData.day_count }}</td>    
                        </tr>
                    {% endfor %}
                </table>
            </td>
        </tr>
    </table>
    
    <table width="100%">
        <tr>
            <td style="vertical-align: top; width: 75%">
                <div id="day_chart_feed_div"></div>
            </td>
            <td style="vertical-align: top; width: 25%">
                <button onclick="makeVisible('dayFeedCountTable', this);" class="countButton">
                    show count table
                </button>
                <table class="statTable" id="dayFeedCountTable" style="display: none">
                {% for dayData in dayFeeds %}
                    {% for item in dayData.1 %}
                        <tr>
                            {% if forloop.first %}
                                <th class="statTable">{{ dayData.0 }}</th>
                            {% else %}
                                <th class="statTable">&nbsp;</th>
                            {% endif %}
                            <th class="statTable">{{ item.the_date }}</th>
                            <td class="statTable">{{ item.day_count }}</td>    
                        </tr>
                    {% endfor %}
                    {% if not forloop.last %}
                        <tr>
                            <td class="statTableBlank" colspan="3">&nbsp;</td>
                        </tr>
                    {% endif %}
                {% endfor %}
                </table>
            </td>
        </tr>
    </table>
        
    
    
{% endblock %}
