{% extends "common/base.html" %}

{% load static from staticfiles %}

{% block title %}
    Scraper Stats
{% endblock %}

{% block content %}
    
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script type="text/javascript" src="{% static "js/stat.js" %}"></script>
    <script type="text/javascript">
        //<![CDATA[

        var crimeReportMonthCount = [
        {% for monthData in monthCrimeReport %}
            ['{{ monthData.the_month }}', {{ monthData.month_count }}],
        {% endfor %}
        ];
        
       var feedMonthNames = [    
            {% for feedData in monthFeeds %}
                '{{ feedData.0 }}',
            {% endfor %}
        ];
        
        var feedMonthCounts = {};
        var feedMonths = {};
        {% for feedData in monthFeeds %}
            {% for monthData in feedData.1 %}
                feedMonthCounts['{{ feedData.0 }}-{{ monthData.the_month }}'] =  {{ monthData.month_count }};
                feedMonths['{{ monthData.the_month }}'] = 1;
            {% endfor %}
        {% endfor %}
        feedMonths = getUniqueKeys(feedMonths);
    
        // Load the Visualization API and the piechart package.
        google.load('visualization', '1', {'packages':['corechart']});
        
        // Set a callback to run when the Google Visualization API is loaded.
        google.setOnLoadCallback(drawChart);
        
        function drawChart() {
            drawCrimeReport('Month', crimeReportMonthCount, 'month_chart_crime_div');
            drawFeed(feedMonthNames, feedMonths, feedMonthCounts, 'Month', 'month_chart_feed_div');
        }
        //]]>
    </script>
    
    <div class="statTableTitle">Monthly Counts</div>
        
    <table width="100%">
        <tr>
            <td style="vertical-align: top; width: 75%">
                <div id="month_chart_crime_div"></div>
            </td>
            <td style="vertical-align: top; width: 25%">
                <button onclick="makeVisible('monthCrimeCountTable', this);" class="countButton">
                    show count table
                </button>
                <table class="statTable" id="monthCrimeCountTable" style="display: none">
                    <tr>
                        <th class="statTable" colspan="2">CPD Crime Reports</th>
                    </tr>
                    {% for monthData in monthCrimeReport %}
                        <tr>
                            <th class="statTable">{{ monthData.the_month }}</th>
                            <td class="statTable">{{ monthData.month_count }}</td>    
                        </tr>
                    {% endfor %}
                </table>
            </td>
        </tr>
    </table>
    
    <table width="100%">
        <tr>
            <td style="vertical-align: top; width: 75%">
                <div id="month_chart_feed_div"></div>
            </td>
            <td style="vertical-align: top; width: 25%">
                <button onclick="makeVisible('monthFeedCountTable', this);" class="countButton">
                    show count table
                </button>
                <table class="statTable" id="monthFeedCountTable" style="display: none">
                {% for monthData in monthFeeds %}
                    {% for item in monthData.1 %}
                        <tr>
                            {% if forloop.first %}
                                <th class="statTable">{{ monthData.0 }}</th>
                            {% else %}
                                <th class="statTable">&nbsp;</th>
                            {% endif %}
                            <th class="statTable">{{ item.the_month }}</th>
                            <td class="statTable">{{ item.month_count }}</td>    
                        </tr>
                    {% endfor %}
                    {% if not forloop.last %}
                        <tr>
                            <td class="statTableBlank" colspan="3">&nbsp;</td>
                        </tr>
                    {% endif %}
                {% endfor %}
                </table>
            </td>
        </tr>
    </table>
    
{% endblock %}
