DJANGO_SETTINGS_MODULE=cjp.settings.local
SECRET_KEY='#&ubnzmo6himBH0nk7i&hmii=ey-)nv+bm#&ps)6eq@!k+n-nq5'
DATABASE_NAME=cjpwebdb
DATABASE_USER=cjpuser
DATABASE_PASSWORD=cjppassword
KERAS_BACKEND=tensorflow
