absl-py==2.1.0
asgiref==3.8.1
astroid==3.2.4
astunparse==1.6.3
backports.zoneinfo==0.2.1
beautifulsoup4==4.13.1
bleach==1.5.0
cachetools==5.5.1
certifi==2025.1.31
chardet==5.2.0
charset-normalizer==3.4.1
click==8.1.8
decorator==5.1.1
dill==0.3.9
Django==4.2.18
django-debug-toolbar==4.4.6
djangorestframework==3.15.2
feedparser==6.0.11
flatbuffers==25.1.24
future==1.0.0
gast==0.4.0
geocoder==1.38.1
google-api-core==2.24.1
google-auth==2.20.0
google-auth-oauthlib==1.0.0
google-cloud-language==2.16.0
google-pasta==0.2.0
googleapis-common-protos==1.59.0
grpcio==1.70.0
grpcio-status==1.49.0rc1
gunicorn==23.0.0
h5py==3.11.0
html2text==2024.2.26
html5lib==0.9999999
idna==3.10
importlib_metadata==8.5.0
isort==5.13.2
joblib==1.4.2
keras==2.13.1
lazy-object-proxy==1.10.0
libclang==18.1.1
Markdown==3.7
MarkupSafe==2.1.5
mccabe==0.7.0
nltk==3.9.1
numpy==1.24.3
oauthlib==3.2.2
opt_einsum==3.4.0
packaging==24.2
pandas==2.0.3
platformdirs==4.3.6
proto-plus==1.26.0
protobuf==3.20.3
psycopg2-binary==2.9.10
pyasn1==0.6.1
pyasn1_modules==0.4.1
pylint==3.2.7
python-dateutil==2.9.0
pytz==2025.1
PyYAML==6.0.2
ratelim==0.1.6
regex==2024.11.6
requests==2.32.3
requests-oauthlib==2.0.0
rsa==4.9
scikit-learn==1.3.2
scipy==1.10.1
sgmllib3k==1.0.0
shapely==2.0.7
six==1.17.0
soupsieve==2.6
sqlparse==0.4.3
tagnews==1.4.0
tensorboard==2.13.0
tensorboard-data-server==0.7.2
tensorflow==2.13.0
tensorflow-estimator==2.13.0
tensorflow-macos==2.13.0
termcolor==2.4.0
threadpoolctl==3.5.0
tomli==2.2.1
tomlkit==0.13.2
tqdm==4.67.1
typing_extensions==4.5.0
tzdata==2025.1
urllib3==1.26.20
Werkzeug==3.0.6
wrapt==1.17.2
zipp==3.20.2
