beautifulsoup4==4.6.0
Django==1.11.4
django-debug-toolbar==1.8
djangorestframework==3.6.4
feedparser==5.2.1
gunicorn==19.7.1
html2text==2016.9.19
psycopg2==2.7.3.1
pytz==2017.2
PyYAML==3.12
sqlparse==0.2.3
