astroid
beautifulsoup4
bleach
cachetools
certifi
chardet
click
decorator
Django
django-debug-toolbar
djangorestframework
feedparser
future
geocoder
google-api-core
google-auth
google-cloud-language
googleapis-common-protos
grpcio
gunicorn
h5py
html2text
html5lib
idna
isort
Keras
lazy-object-proxy
Markdown
mccabe
nltk
numpy
pandas
protobuf==3.20.*
psycopg2
pyasn1
pyasn1-modules
pylint
python-dateutil
pytz
PyYAML
ratelim
requests
rsa
scipy
scikit-learn
Shapely
six
sqlparse
tagnews
tensorboard
tensorflow
tensorflow-macos
urllib3
Werkzeug
wrapt
