{% extends "common/base.html" %}
{% load static %}

{% block title %}
Coding Help
{% endblock %}

{% block content %}
<div class="row">
  <div class="col-sm-12 col-md-6">
    <h3 class="text-center"><a href="{% static "media/Coding_Manual.pdf" %}">Coding Manual (PDF)</a></h3>
  </div>
  <div class="col-sm-12 col-md-6">
    <h3 class="text-center"><a href="{% static "media/Categories_for_Coding.pdf" %}">Coding Categories (PDF)</a></h3>
  </div>
</div>

<h2>Videos</h2>
<div class="row">
  <div class="col-sm-12 col-md-6">
    <iframe width="480" height="293" src="https://www.youtube.com/embed/QTDsHU9ZfI4" frameborder="0" allowfullscreen></iframe>
  </div>
  <div class="col-sm-12 col-md-6">
    <iframe width="480" height="293" src="https://www.youtube.com/embed/Xp6MiKPTX6I" frameborder="0" allowfullscreen></iframe>
  </div>
</div>

<h2>Legal Notice</h2>
<div class="row">
  <div class="col-md-12">
    <p class="text-left">The Chicago Justice Project is capturing the data from the various media web sites for research purposes only. It would be a violation of US copyright laws for you to communicate the content that CJP has captured for purposes that are not directly related to our current research purposes. Please refrain from transferring the contents captured by the Chicago Justice Project to individuals that are not directly involved in the research project.</p>
  </div>
</div>
{% endblock %}
