{% extends "common/base.html" %}

{% block title %}
    Scraper Stats
{% endblock %}

{% block content %}
    
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script type="text/javascript">
        //<![CDATA[

        var crimeReportMonthCount = [
        {% for monthData in monthCrimeReport %}
            ['{{ monthData.the_month }}', {{ monthData.month_count }}],
        {% endfor %}
        ];
        
        var crimeReportDayCount = [
        {% for dayData in dayCrimeReport %}
            ['{{ dayData.the_date }}', {{ dayData.day_count }}],
        {% endfor %}
        ];
        
        function drawCrimeReport(xName, countData, divName) {
            var data = new google.visualization.DataTable();
            
            data.addColumn('string', xName);
            data.addColumn('number', 'CPD Crime Reports');
            data.addRows(countData);
    
            var chart = new google.visualization.AreaChart(document.getElementById(divName));
            chart.draw(data, {height: 240, title: 'CPD Crime Reports Per ' + xName,
                              hAxis: {title: xName, titleTextStyle: {color: 'red'}, slantedText: 0},
                              vAxis: {title: 'Count', titleTextStyle: {color: 'red'}}
                             });
        }
        
        function getUniqueKeys(data) {
            var unique = []
            for (var d in data) {
                unique.push(d);
            }
            return unique;
        }
        
        var feedMonthNames = [    
            {% for feedData in monthFeeds %}
                '{{ feedData.0 }}',
            {% endfor %}
        ];
        
        var feedMonthCounts = {};
        var feedMonths = {};
        {% for feedData in monthFeeds %}
            {% for monthData in feedData.1 %}
                feedMonthCounts['{{ feedData.0 }}-{{ monthData.the_month }}'] =  {{ monthData.month_count }};
                feedMonths['{{ monthData.the_month }}'] = 1;
            {% endfor %}
        {% endfor %}
        feedMonths = getUniqueKeys(feedMonths);
        
        var feedDayNames = [    
            {% for feedData in dayFeeds %}
                '{{ feedData.0 }}',
            {% endfor %}
        ];
        
        var feedDayCounts = {};
        var feedDays = {};
        {% for feedData in dayFeeds %}
            {% for dayData in feedData.1 %}
                feedDayCounts['{{ feedData.0 }}-{{ dayData.the_date }}'] =  {{ dayData.day_count }};
                feedDays['{{ dayData.the_date }}'] = 1;
            {% endfor %}
        {% endfor %}
        feedDays = getUniqueKeys(feedDays);
        
        function drawFeed(feedNames, items, counts, xName, divName) {
  
            var data = new google.visualization.DataTable();
            
            data.addColumn('string', xName);
            for (var f = 0; f < feedNames.length; f++) {
                data.addColumn('number', feedNames[f]);
            }
            data.addRows(items.length);
            
            items.sort();
            for (var m = 0; m < items.length; m++) {
                data.setValue(m, 0, items[m]);
                for (var f = 0; f < feedNames.length; f++) {
                    var key = feedNames[f] + "-" + items[m];
                    if (key in counts) {
                        data.setValue(m, f + 1, counts[key]);
                    } else {
                        data.setValue(m, f + 1, 0);
                    }
                }
            }
    
            var chart = new google.visualization.AreaChart(document.getElementById(divName));
            chart.draw(data, {height: 240, title: 'Feeds Per ' + xName,
                              hAxis: {title: xName, titleTextStyle: {color: 'red'}},
                              vAxis: {title: 'Count', titleTextStyle: {color: 'red'}}
                             });
        }
    
        // Load the Visualization API and the piechart package.
        google.load('visualization', '1', {'packages':['corechart']});
        
        // Set a callback to run when the Google Visualization API is loaded.
        google.setOnLoadCallback(drawChart);

        function drawChart() {
            drawCrimeReport('Month', crimeReportMonthCount, 'month_chart_crime_div');
            drawFeed(feedMonthNames, feedMonths, feedMonthCounts, 'Month', 'month_chart_feed_div');
            
            drawCrimeReport('Day', crimeReportDayCount, 'day_chart_crime_div');
            drawFeed(feedDayNames, feedDays, feedDayCounts, 'Day', 'day_chart_feed_div');
        }
        
        function makeVisible(tableId, button) {
            document.getElementById(tableId).style.display = 'table';
            button.style.display='none';
        }
        //]]>
    </script>
    
    <div id="totalDiv">
        <div class="statTableTitle">Total Counts</div>
        <table class="statTable">
            {% for total in totals %}
                <tr>
                    <th class="statTable">{{ total.0 }}</th>
                    <td class="statTable">{{ total.1 }}</td>
                </tr>
            {% endfor %}
            <tr>
                <td colspan="2">&nbsp;</td>
            </tr>
            <tr>
                <th class="statTable">Non-relevant Article Count</th>
                <td class="statTable">{{ articleNonRelevantCount }}</td>
            </tr>
            <tr>
                <th class="statTable">Categorized Articles</th>
                <td class="statTable">{{ categorizedArticleCount }}</td>
            </tr>
        </table>
    </div>
    <div id="yearDiv">
        <div class="statTableTitle">Yearly Counts</div>
        <table class="statTable">
        {% for yearData in years %}
            {% for item in yearData.1 %}
                <tr>
                    {% if forloop.first %}
                        <th class="statTable">{{ yearData.0 }}</th>
                    {% else %}
                        <th class="statTable">&nbsp;</th>
                    {% endif %}
                    <th class="statTable">{{ item.the_year|floatformat }}</th>
                    <td class="statTable">{{ item.year_count }}</td>    
                </tr>
            {% endfor %}
            {% if not forloop.last %}
                <tr>
                    <td class="statTableBlank" colspan="3">&nbsp;</td>
                </tr>
            {% endif %}
        {% endfor %}
        </table>
    </div>
    
    <div id="monthDiv">
        <div class="statTableTitle">Monthly Counts</div>
        
        <table width="100%">
            <tr>
                <td style="vertical-align: top; width: 75%">
                    <div id="month_chart_crime_div"></div>
                </td>
                <td style="vertical-align: top; width: 25%">
                    <button onclick="makeVisible('monthCrimeCountTable', this);" class="countButton">
                        show count table
                    </button>
                    <table class="statTable" id="monthCrimeCountTable" style="display: none">
                        <tr>
                            <th class="statTable" colspan="2">CPD Crime Reports</th>
                        </tr>
                        {% for monthData in monthCrimeReport %}
                            <tr>
                                <th class="statTable">{{ monthData.the_month }}</th>
                                <td class="statTable">{{ monthData.month_count }}</td>    
                            </tr>
                        {% endfor %}
                    </table>
                </td>
            </tr>
        </table>
        
        <table width="100%">
            <tr>
                <td style="vertical-align: top; width: 75%">
                    <div id="month_chart_feed_div"></div>
                </td>
                <td style="vertical-align: top; width: 25%">
                    <button onclick="makeVisible('monthFeedCountTable', this);" class="countButton">
                        show count table
                    </button>
                    <table class="statTable" id="monthFeedCountTable" style="display: none">
                    {% for monthData in monthFeeds %}
                        {% for item in monthData.1 %}
                            <tr>
                                {% if forloop.first %}
                                    <th class="statTable">{{ monthData.0 }}</th>
                                {% else %}
                                    <th class="statTable">&nbsp;</th>
                                {% endif %}
                                <th class="statTable">{{ item.the_month }}</th>
                                <td class="statTable">{{ item.month_count }}</td>    
                            </tr>
                        {% endfor %}
                        {% if not forloop.last %}
                            <tr>
                                <td class="statTableBlank" colspan="3">&nbsp;</td>
                            </tr>
                        {% endif %}
                    {% endfor %}
                    </table>
                </td>
            </tr>
        </table>
    </div>
    
    <div id="dayDiv">
        <div class="statTableTitle">Daily Counts</div>
        
        <table width="100%">
            <tr>
                <td style="vertical-align: top; width: 75%">
                    <div id="day_chart_crime_div"></div>
                </td>
                <td style="vertical-align: top; width: 25%">
                    <button onclick="makeVisible('dayCrimeCountTable', this);" class="countButton">
                        show count table
                    </button>
                    <table class="statTable" id="dayCrimeCountTable" style="display: none">
                        <tr>
                            <th class="statTable" colspan="2">CPD Crime Reports</th>
                        </tr>
                        {% for dayData in dayCrimeReport %}
                            <tr>
                                <th class="statTable">{{ dayData.the_date }}</th>
                                <td class="statTable">{{ dayData.day_count }}</td>    
                            </tr>
                        {% endfor %}
                    </table>
                </td>
            </tr>
        </table>
        
        <table width="100%">
            <tr>
                <td style="vertical-align: top; width: 75%">
                    <div id="day_chart_feed_div"></div>
                </td>
                <td style="vertical-align: top; width: 25%">
                    <button onclick="makeVisible('dayFeedCountTable', this);" class="countButton">
                        show count table
                    </button>
                    <table class="statTable" id="dayFeedCountTable" style="display: none">
                    {% for dayData in dayFeeds %}
                        {% for item in dayData.1 %}
                            <tr>
                                {% if forloop.first %}
                                    <th class="statTable">{{ dayData.0 }}</th>
                                {% else %}
                                    <th class="statTable">&nbsp;</th>
                                {% endif %}
                                <th class="statTable">{{ item.the_date }}</th>
                                <td class="statTable">{{ item.day_count }}</td>    
                            </tr>
                        {% endfor %}
                        {% if not forloop.last %}
                            <tr>
                                <td class="statTableBlank" colspan="3">&nbsp;</td>
                            </tr>
                        {% endif %}
                    {% endfor %}
                    </table>
                </td>
            </tr>
        </table>
    </div>
{% endblock %}
