{% extends "common/base.html" %}

{% block title %}
    Scraper Stats
{% endblock %}

{% block content %}
    
    <div class="statTableTitle">Yearly Counts</div>
    <table class="statTable">
        {% for yearData in years %}
            {% for item in yearData.1 %}
                <tr>
                    {% if forloop.first %}
                        <th class="statTable">{{ yearData.0 }}</th>
                    {% else %}
                        <th class="statTable">&nbsp;</th>
                    {% endif %}
                    <th class="statTable">{{ item.the_year|floatformat }}</th>
                    <td class="statTable">{{ item.year_count }}</td>    
                </tr>
            {% endfor %}
            {% if not forloop.last %}
                <tr>
                    <td class="statTableBlank" colspan="3">&nbsp;</td>
                </tr>
            {% endif %}
        {% endfor %}
    </table>
    
{% endblock %}
