container_commands:
#01_migrate:
#  command: |
#    export $(/opt/elasticbeanstalk/bin/get-config environment | jq -r 'to_entries|map("\(.key)=\(.value|tostring)")|.[]') && \
#    source /var/app/venv/*/bin/activate && \
#    django-admin.py migrate --no-input
#  leader_only: true
  02_downloadnltk:
    command: |
      export $(/opt/elasticbeanstalk/bin/get-config environment | jq -r 'to_entries|map("\(.key)=\(.value|tostring)")|.[]') && \
      source /var/app/venv/*/bin/activate && \
      python manage.py downloadcorpus /opt/python/run/venv/nltk_data

  03_collectstatic:
    command: |
      export $(/opt/elasticbeanstalk/bin/get-config environment | jq -r 'to_entries|map("\(.key)=\(.value|tostring)")|.[]') && \
      source /var/app/venv/*/bin/activate && \
      python manage.py collectstatic --no-input

option_settings:
  aws:elasticbeanstalk:application:environment:
    DJANGO_SETTINGS_MODULE: cjp.settings.production
  aws:elasticbeanstalk:container:python:
    WSGIPath: cjp.wsgi:application
  aws:elasticbeanstalk:environment:proxy:staticfiles:
    /static: public-static
