files:
  "/usr/local/bin/runscrapers.sh":
    mode: "000755"
    owner: root
    group: root
    content: |
      #!/bin/bash
      export $(/opt/elasticbeanstalk/bin/get-config environment | jq -r 'to_entries|map("\(.key)=\(.value|tostring)")|.[]')
      source /var/app/venv/*/bin/activate
      python /var/app/current/manage.py runscrapers

  "/usr/local/bin/scraperhealth.sh":
    mode: "000755"
    owner: root
    group: root
    content: |
      #!/bin/bash
      export $(/opt/elasticbeanstalk/bin/get-config environment | jq -r 'to_entries|map("\(.key)=\(.value|tostring)")|.[]')
      source /var/app/venv/*/bin/activate
      python /var/app/current/manage.py runhealthcheck cjpdatasite@gmail.com Tsiska@chicagojustice.org mchladek@gmail.com cjphealthcheck@mailinator.com

  "/usr/local/bin/dbexport.sh":
    mode: "000755"
    owner: root
    group: root
    content: |
      #!/bin/bash
      export $(/opt/elasticbeanstalk/bin/get-config environment | jq -r 'to_entries|map("\(.key)=\(.value|tostring)")|.[]')
      source /var/app/venv/*/bin/activate
      /var/app/current/scripts/db_export.sh

  "/usr/local/bin/sentiment.sh":
    mode: "000755"
    owner: root
    group: root
    content: |
      #!/bin/bash
      export $(/opt/elasticbeanstalk/bin/get-config environment | jq -r 'to_entries|map("\(.key)=\(.value|tostring)")|.[]')
      source /var/app/venv/*/bin/activate
      python /var/app/current/manage.py runsentiment both

  "/etc/cron.d/scraper":
      mode: "000644"
      owner: root
      group: root
      content: |
        0 */2 * * * root    /usr/local/bin/runscrapers.sh > /var/log/scraper.log 2>&1

  "/etc/cron.d/scraperhealth":
      mode: "000644"
      owner: root
      group: root
      content: |
        0 20 * * * root    /usr/local/bin/scraperhealth.sh > /var/log/scraperhealth.log 2>&1

  "/etc/cron.d/dbexport":
      mode: "000644"
      owner: root
      group: root
      content: |
        30 6 * * * root    /usr/local/bin/dbexport.sh > /var/log/dbexport.log 2>&1

  "/etc/cron.d/sentiment":
      mode: "000644"
      owner: root
      group: root
      content: |
        0 3 * * * root    /usr/local/bin/sentiment.sh > /var/log/sentiment.log 2>&1

container_commands:
  remove_old_cron:
    command: "rm -f /etc/cron.d/*.bak"
