container_commands:
  03_collectstatic:
    command: "django-admin.py collectstatic --no-input"

option_settings:
  aws:elasticbeanstalk:application:environment:
    DJANGO_SETTINGS_MODULE: cjp.settings.production
  aws:elasticbeanstalk:container:python:
    WSGIPath: cjp/wsgi.py
  aws:elasticbeanstalk:container:python:staticfiles:
    /static/: "public-static/"
