{% load static from staticfiles %}

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta http-equiv="content-type" content="text/html;charset=utf-8" />
        <title>Chicago Justice Project - Data portal</title>
        <link href="{% static "site.css" %}" rel="stylesheet" type="text/css" />
        <link type="text/css" href="{% static "css/custom-theme/jquery-ui.css" %}" rel="stylesheet" />

        <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
        <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js" integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU=" crossorigin="anonymous"></script>

        {% block head %}{% endblock %}
    </head>
    <body>
        <div id="sidebar">
        {% block sidebar %}
            <p><b>Articles</b></p>
            <ul>
                <li><a href="{% url 'mainArticleView' %}">Articles</a></li>
            </ul>

            <p><b>Crime Reports</b></p>
            <ul>
                <li><a href="{% url 'mainCrimeReportView' %}">Crime Reports</a></li>
            </ul>

            <p><b>Scraper Stats</b></p>
            <ul>
                <li><a href="{% url 'statsTotalCounts' %}">Total Counts</a></li>
            </ul>

            <p><b>User</b></p>
            <ul>
            {% if user.is_authenticated %}
                <li><a href="{% url 'logoutView' %}">Logout</a></li>
            {% else %}
                <p><a href="{% url 'loginView' %}">Login</a></p>
            {% endif %}

            {% if user.is_superuser %}
                <li><a href="{% url 'userManageView' %}">Manage Users</a></li>
            {% endif %}
            </ul>
        {% endblock %}
        </div>

        <div id="content">
            <h1>{% block title %}{% endblock %}</h1>
            {% block content %}{% endblock %}
        </div>

    </body>
</html>
