#content {
  margin-left: 1em;
  margin-right: 1em;
}

.sidebarSubmenu {
    padding-left: 30px;
}

@media (max-width: 992px) {
    nav#codingSidebar.affix {
        position: static;
    }
}

nav.coding-form {
  margin-top: 1em;
  width: 275px;
  max-height: 65%;
  overflow-y: auto;
}

nav.coding-form ul, li {
  list-style: none;
}

nav.coding-form ul {
  padding-left: 2px;
  margin-left: 2px;
  font-weight: bold;
}

nav.coding-form li {
  padding-left: 3px;
  margin-left: 3px;
}

nav.coding-form li label {
  font-weight: bold;
  margin-bottom: 0px;
}

nav.coding-form ul li label {
  font-weight: normal;
}

input#pageNumberInput.form-control {
  width: 50px;
}

div.article {
    margin-top: 2em;
    margin-bottom: 2em;
    border: 1px solid black;
    font-size: .8em;
}

div#articleTable {
  margin-top: 1em;
}
div.articleHeader {
    background-color: #ccccff;
}
div.articleHeaderRow {
    border: 1px solid black;
}
div.articleHeaderLabel {
    font-weight: bold;
    display:inline;
}
div.articleHeaderContent {
    position: relative;
    display:inline;
}

div.articleFeed {
    display:inline;
    margin-right: 10px;
}
div.articleCreated {
    display:inline;
    margin-right: 10px;
}
div.articleModified {
    display:inline;
    margin-right: 10px;
}
div.articleRelevant {
    display:inline;
    margin-right: 10px;
}
div.articleBody {
    line-height: 2em;
    word-wrap: break-word;
    white-space: -moz-pre-wrap;
    white-space: pre-wrap;
}

.articleBody::-moz-selection {
    background: #FC0;
}

.articleBody::selection {
    background: #FC0;
}

mark {
    padding-top: 4px;
    padding-bottom: 4px;
    background-color: #FC0;
}

mark:hover {
    cursor: pointer;
}

div.articleFunction {
    display:inline;
}
button.articleButton, input.articleButton {
    font-size: .8em;
}

div.pagination {
    font-size: .8em;
    width: 100%;
    display: inline;
}
div.paginationTotal {
    width: 50%;
    float: left;
}
div.paginationLinks {
    width: 100%;
    text-align: right;
}

.scraperlogStartend {
    background-color: #aaaaff;
}
.scraperlogError {
    background-color: #ffaaaa;
}
table.scraperlog {
    border-collapse: collapse;
}
table.scraperlog, td.scraperlog, th.scraperlog {
    border: 1px solid black;
    font-size: .8em;
}
th.scraperlog {
    background-color: #dddddd;
}
td.scraperlog {
    vertical-align: top;
}

td.scraperlogSeperator {
    background-color: black;
    height: 3em;
}

div.export {
    border: 1px solid black;
    font-size: .8em;
    float: right;
    margin-right: 5%;
}

.exportButton {
    font-size: .8em;
}

div.search {
    border: 1px solid black;
    font-size: .8em;
    display: table;
    margin: auto;
    margin-bottom: 1em;
}

button.searchButton, select {
    font-size: .8em;
}

div.login, .loginButton {
    font-size: .8em;
}

table.listTable {
    border-collapse:collapse;
}

th.listTableHeadCell {
    font-size: .8em;
    border: 1px solid black;
    background-color: #ccccff;
}

td.listTableDataCell {
    font-size: .8em;
    border: 1px solid black;
}

.message {
    text-align: center;
    font-size: .8em;
    font-weight: bold;
}

table.crimeReportTable {
    border-collapse:collapse;
}

th.crimeReportHead {
    background-color: #D9EDF7;
    color: #31708F;
}

button.listTableAction {
    font-size: .8em;
}

table.statTable {
    border-collapse:collapse;
}

th.statTable {
    font-size: .8em;
    border: 1px solid black;
    background-color: #ccccff;
    text-align: left;
}

td.statTable {
    font-size: .8em;
    border: 1px solid black;
    text-align: right;
}

.statTableBlank {
    border: 0px;
}

.statTableTitle {
    margin-top: 1em;
    font-size: 1.5em;
    font-weight: bold;
}

.countButton {
    font-size: .8em;
}

button.navigationButton {
    background-color: transparent;
    border-width: 0px;
    color: blue;
    padding: 0px;
    font-family: serif;
}
