@media (max-width: 992px) { /* Only affix coding sidebar if on desktop */
    nav#codingSidebar.affix {
        position: static;
    }
}

nav.coding-form {
  margin-top: 0em;
  width: 275px;
  max-height: 80%;
  overflow-y: auto;
}

nav.coding-form ul, li {
  list-style: none;
}

nav.coding-form ul {
  padding-left: 2px;
  margin-left: 2px;
  font-weight: bold;
}

nav.coding-form li {
  padding-left: 3px;
  margin-left: 3px;
}

nav.coding-form li label {
  font-weight: bold;
  margin-bottom: 0px;
}

nav.coding-form ul li label {
  font-weight: normal;
}

input#pageNumberInput.form-control {
  width: 50px;
}

table#articleTable {
  margin-top: 1em;
}

div.articleBody {
    line-height: 2em;
    word-wrap: break-word;
    white-space: -moz-pre-wrap;
    white-space: pre-wrap;
}

.articleBody::-moz-selection {
    background: #FC0;
}

.articleBody::selection {
    background: #FC0;
}

mark {
    padding-top: 4px;
    padding-bottom: 4px;
    background-color: #FC0;
}

mark:hover {
    cursor: pointer;
}

div.export {
    border: 1px solid black;
    font-size: .8em;
    float: right;
    margin-right: 5%;
}

.exportButton {
    font-size: .8em;
}

div.search {
    border: 1px solid black;
    font-size: .8em;
    display: table;
    margin: auto;
    margin-bottom: 1em;
}

button.searchButton, select {
    font-size: .8em;
}

label.required:after {
  content: "*";
  color: red;
}

.red {
  color: red;
}

table.listTable {
    border-collapse:collapse;
}

th.listTableHeadCell {
    font-size: .8em;
    border: 1px solid black;
    background-color: #ccccff;
}

td.listTableDataCell {
    font-size: .8em;
    border: 1px solid black;
}

table.crimeReportTable {
    border-collapse:collapse;
}

th.crimeReportHead {
    background-color: #D9EDF7;
    color: #31708F;
}

button.listTableAction {
    font-size: .8em;
}

button.navigationButton {
    background-color: transparent;
    border-width: 0px;
    color: blue;
    padding: 0px;
    font-family: serif;
}
