<table class="crimeReportTable">
    {% if actionMessage or showFunctions%}
        <tr>
            <td colspan="2" class="message">
                {% if actionMessage %}
                    {{ actionMessage }}
                {% endif %}
                
                {% if showFunctions %}
                    <div class="articleFunction" style="float: left">
                        <button onclick="javascript:window.location='{% url 'mainArticleView' %}'; return false;"
                                class="navigationButton">return to previous page</button>
                    </div>
                    <div class="articleFunction" style="float: right">
                        <button class="navigationButton" type="button"
                                onclick="window.open('{% url 'printSingleArticle' article.id %}', '_blank');">print</button>
                    </div>
                {% endif %}
            </td>
        </tr>
    {% endif %}
    <tr>
        <th class="crimeReportHead leftHead">Title</th>
        <td class="crimeReportContent">{{ article.title }}</td>
    </tr>
    <tr>
        <th class="crimeReportHead leftHead">Source</th>
        <td class="crimeReportContent">{{  article.get_feedname_display }}</td>
    </tr>
    <tr>
        <th class="crimeReportHead leftHead">Crime Related</th>
        <td class="crimeReportContent">
            {{  article.relevant }}
            {% if showFunctions and user.is_authenticated %}
                <form action="{% url 'updateArticleRelevant' article.id %}" method="post">
                    {% csrf_token %}
                    <input type="hidden" name="relevant" value="{{ article.relevant }}" />
                
                    {% if article.relevant %}
                        <input class="articleButton" type="submit" value="Mark Not Crime Related" />
                    {% else %}
                        <input class="articleButton" type="submit" value="Mark Crime Related" />
                    {% endif %}
                </form>
            {% endif %}
        </td>
    </tr>
    <tr>
        <th class="crimeReportHead leftHead">Categories</th>
        <td class="crimeReportContent">
            {% if showFunctions and user.is_authenticated %}
                
                <form action="{% url 'updateArticleCategories' article.id %}" method="post">
                    {% for category in categories %}
                        <input type="checkbox" name="category_{{ forloop.counter }}" value="{{ category.id }}" 
                        {% if category in article.categories.all %}
                            checked="checked"
                        {% endif %} />
                        {{ category.category_name }} ({{ category.abbreviation }})<br/>
                    {% endfor %}
                    {% csrf_token %}
                    <input class="articleButton" type="submit" value="Update Categories" />
                    <input class="articleButton" type="reset" value="Reset" />
                </form>
                
            {% else %}
                {% for category in article.categories.all %}
                    {{ category.category_name }} ({{ category.abbreviation }})<br/>
                {% endfor %}
            {% endif %}
        </td>
    </tr>
    <tr>
        <th class="crimeReportHead leftHead">Original Load Date</th>
        <td class="crimeReportContent">{{  article.created }}</td>
    </tr>
    </tr>
        <th class="crimeReportHead leftHead">Last Updated</th>
        <td class="crimeReportContent">{{  article.last_modified }}</td>
    </tr>
    </tr>
        <th class="crimeReportHead leftHead">Original URL</th>
        <td class="crimeReportContent"><a href="{{ article.url }}">{{ article.url }}</a></td>
    </tr>
    {% if user.is_authenticated %}
        </tr>
            <th class="crimeReportHead leftHead">Article Text</th>
            <td class="crimeReportContent">
                <div class="articleBody">
                    {{article.bodytext }}
                </div>
            </td>
        </tr>
    {% else %}
        </tr>
            <th class="crimeReportHead leftHead">Article Text Preview</th>
            <td class="crimeReportContent">
                <div class="articleBody">
                    {{ article.bodytext|slice:":300" }} ...
                </div>
            </td>
        </tr>
    {% endif %}
</table>
