{% extends "common/base.html" %}

{% block title %}
{{ article.title }}
{% endblock %}

{% block content %}
<div class="container">
  <div class="row">
  <div class="col-md-12" role="main">
    <table class="table table-bordered">
    <tr>
        <th class="crimeReportHead">Source</th>
        <td>{{ article.news_source }}</td>
    </tr>
    <tr>
        <th class="crimeReportHead">Original Load Date</th>
        <td>{{ article.created }}</td>
    </tr>
    <tr>
        <th class="crimeReportHead">Last Updated</th>
        <td>{{ article.last_modified }}</td>
    </tr>
    <tr>
        <th class="crimeReportHead">Original URL</th>
        <td><a href="{{ article.url }}">{{ article.url }}</a></td>
    </tr>
    </table>
    <div class="panel panel-info">
      <div class="panel-heading">
        <h3>
            {% if is_preview %}
            Article Preview
            {% else %}
            Article Text
            {% endif %}
        </h3>
      </div>
      <div class="articleBody panel-body">
        {{ display_text }}
      </div> <!-- /.panel-body-->
    </div> <!-- /.panel-->
  </div><!-- /.col-md-12-->
  </div><!-- /.row -->
</div><!-- /.container-->
{% endblock %}