{% extends "common/base.html" %}

{% block title %}
Coding article: {{ article.title }}
{% endblock %}

{% block content %}
<table class="crimeReportTable">
    <tr>
        <th class="crimeReportHead leftHead">Title</th>
        <td class="crimeReportContent">{{ article.title }}</td>
    </tr>
    <tr>
        <th class="crimeReportHead leftHead">Source</th>
        <td class="crimeReportContent">{{ article.news_source }}</td>
    </tr>
    <tr>
        <th class="crimeReportHead leftHead">Coding</th>
        <td class="crimeReportContent">
            <form action="" method="post">
                {% csrf_token %}
                {{ form.as_ul }}
                <input type="submit" value="Submit" />
            </form>
        </td>
    </tr>
    <tr>
        <th class="crimeReportHead leftHead">Original Load Date</th>
        <td class="crimeReportContent">{{ article.created }}</td>
    </tr>
    </tr>
        <th class="crimeReportHead leftHead">Last Updated</th>
        <td class="crimeReportContent">{{ article.last_modified }}</td>
    </tr>
    </tr>
        <th class="crimeReportHead leftHead">Original URL</th>
        <td class="crimeReportContent"><a href="{{ article.url }}">{{ article.url }}</a></td>
    </tr>
    </tr>
        <th class="crimeReportHead leftHead">Article Text</th>
        <td class="crimeReportContent">
            <div class="articleBody">
                {{article.bodytext }}
            </div>
        </td>
    </tr>
</table>

{% endblock %}