{% extends "common/base.html" %}
{% load static from staticfiles %}

{% block head %}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/jquery.webui-popover/1.2.1/jquery.webui-popover.min.css">
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mark.js/8.11.0/jquery.mark.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/jquery.webui-popover/1.2.1/jquery.webui-popover.min.js"></script>
<script type="text/javascript" src="{% static "js/code_article.js" %}"></script>
{% endblock %}

{% block title %}
Coding Article: <small>{{ article.title }}</small>
{% endblock %}

{% block content %}
<div class="container">
  <div class="row">
  <div class="col-md-3" role="complementary">
    <form action="" method="post">
      {% csrf_token %}
      <nav data-spy="affix" class="coding-form">
        <input class="code-submit-btn btn btn-primary btn-lg btn-block" type="submit" value="Submit Coding" />
        {{ form.as_ul }}
      </nav>
    </form>
  </div>
  <div class="col-md-9" role="main">
    <table class="table table-bordered">
    <tr>
        <th class="crimeReportHead">Source</th>
        <td>{{ article.news_source }}</td>
    </tr>
    <tr>
        <th class="crimeReportHead">Original Load Date</th>
        <td>{{ article.created }}</td>
    </tr>
    <tr>
        <th class="crimeReportHead">Last Updated</th>
        <td>{{ article.last_modified }}</td>
    </tr>
    <tr>
        <th class="crimeReportHead">Original URL</th>
        <td><a href="{{ article.url }}">{{ article.url }}</a></td>
    </tr>
    </table>
    <div class="panel panel-info">
      <div class="panel-heading">
        <h3>Article Text</h3>
      </div>
      <div class="articleBody panel-body">
        {{article.bodytext }}
      </div> <!-- /.panel-body-->
    </div> <!-- /.panel-->
  </div><!-- /.col-md-9-->
</div><!-- /.row -->
</div><!-- /.container-->

{% endblock %}