{% load static from staticfiles %}

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta http-equiv="content-type" content="text/html;charset=utf-8" />
        <link href="{% static "site.css" %}" rel="stylesheet" type="text/css">
        <title>{% if article %}
                {{ article.title }}
               {% else %}
                Article Not Found
               {% endif %}</title>

    </head>
    <body onload='window.print()'>
    {% if article %}        
        {% include "newsarticles/article_inc.html" with article=article %}
    {% else %}
        <p>Article not found.</p>
    {% endif %}
    </body>
</html>
