{% extends "common/base.html" %}

{% block content %}
<div class="container-fluid">
    <div class="col-md-6 col-md-offset-3">
        {% if form.errors %}
            <div class="alert alert-danger" role="alert">Your username and password didn&rsquo;t match. Please try again.</div>
        {% endif %}
        <div class="panel panel-default">
            <div class="panel-heading"><h3 class="panel-title">Login</h3></div>
            <div class="panel-body">
                <form class="form-horizontal" method="post" action="{% url 'login' %}">
                {% csrf_token %}
                    <div class="form-group">
                        <label for="username" class="col-sm-4 control-label">{{ form.username.label }}</label>
                        <div class="col-sm-8">
                            {{ form.username }}
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="password" class="col-sm-4 control-label">{{ form.password.label }}</label>
                        <div class="col-sm-8">
                            {{ form.password }}
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-8 col-sm-offset-4">
                            <input type="submit" value="Login" class="btn btn-default" />
                            <input type="hidden" name="next" value="{{ next }}" />
                        </div>
                    </div>
                </form>
            </div>
        </div>
</div>
</div>

{% endblock %}
