{% extends "common/base.html" %}

{% load static from staticfiles %}

{% block title %}
    Admin: Manage Users
{% endblock %}

{% block content %}

        <div style="width:95%">
            <div class="search" style="margin-bottom:1em;">
                <form action="{% url 'userManageAddUserView' %}" method="post">
                     <table>
                        <tr>
                            <td colspan="7">{{ userCreationForm.non_field_errors }}</td>
                        </tr> 
                        <tr>
                            <th>Required</th>
                            <td>{{ userCreationForm.username.label }}{{ userCreationForm.username.errors }}</td> 
                            <td>{{ userCreationForm.username }}</td>
                            <td>{{ userCreationForm.password.label }}{{ userCreationForm.password.errors }}</td> 
                            <td>{{ userCreationForm.password }}</td>
                            <td>{{ userCreationForm.password2.label }}{{ userCreationForm.password2.errors }}</td> 
                            <td>{{ userCreationForm.password2 }}</td>
                        </tr>
                        <tr>
                            <th>Optional</th>
                            <td>{{ userCreationForm.firstName.label }}{{ userCreationForm.firstName.errors }}</td>
                            <td>{{ userCreationForm.firstName }}</td>
                            <td>{{ userCreationForm.lastName.label }}{{ userCreationForm.lastName.errors }}</td>
                            <td>{{ userCreationForm.lastName }}</td>
                            <td>{{ userCreationForm.email.label }}{{ userCreationForm.email.errors }}</td>
                            <td>{{ userCreationForm.email }}</td>
                        </tr>
                        <tr>
                            <td colspan="7" style="text-align:center;"> 
                                {% csrf_token %}
                                <button class="searchButton">Add New User</button>
                                <button class="searchButton" onclick="this.form.reset(); return false;">Reset</button>
                            </td>
                        </tr>
                     </table>
                </form>
            </div>

            <table class="listTable" style="width:100%">
                <tr>
                    <th class="listTableHeadCell">Username</th>
                    <th class="listTableHeadCell">Real Name</th>
                    <th class="listTableHeadCell">Email</th>
                    <th class="listTableHeadCell">Superuser</th>
                    <th class="listTableHeadCell">Active</th>
                    <th class="listTableHeadCell">&nbsp;</th>
                </tr>
                {% for user in users %}
                    <tr>
                        <td class="listTableDataCell">{{ user.username }}</td>
                        <td class="listTableDataCell">{{ user.first_name }} {{ user.last_name }}</td>
                        <td class="listTableDataCell">{{ user.email }}</td>
                        <td class="listTableDataCell" style="text-align:center;">
                            {% if user.is_superuser %}
                                <img src="{% static "good_checkmark.png" %}" alt="superuser" />
                            {% else %}
                                <img src="{% static "bad_x.png" %}" alt="regular user" />
                            {% endif %}
                        </td>
                        <td class="listTableDataCell" style="text-align:center;">
                            {% if user.is_active %}
                                <img src="{% static "good_checkmark.png" %}" alt="superuser" />
                            {% else %}
                                <img src="{% static "bad_x.png" %}" alt="regular user" />
                            {% endif %}
                        </td>
                        <td class="listTableDataCell">
                            <a href="{% url 'userUpdate' user.id %}">update</a>
                        </td>
                    </tr>
                {% endfor %}
            </table>
         </div>

{% endblock %}
