{% extends "common/base.html" %}

{% load static from staticfiles %}

{% block title %}
    Manage Users
{% endblock %}

{% block content %}
<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Add User</h3>
  </div>
  <div class="panel-body">
    {% if form.non_field_errors %}
    <div class="alert alert-danger" role="alert">{{ userCreationForm.non_field_errors }}</div>
    {% endif %}
    {% if form.username.errors %}
    <div class="alert alert-danger" role="alert">{{ userCreationForm.username.errors }}</div>
    {% endif %}
    {% if form.password.errors %}
    <div class="alert alert-danger" role="alert">{{ userCreationForm.password.errors }}</div>
    {% endif %}
    {% if form.password2.errors %}
    <div class="alert alert-danger" role="alert">{{ userCreationForm.password2.errors }}</div>
    {% endif %}
    {% if form.firstName.errors %}
    <div class="alert alert-danger" role="alert">{{ userCreationForm.firstName.errors }}</div>
    {% endif %}
    {% if form.lastName.errors %}
    <div class="alert alert-danger" role="alert">{{ userCreationForm.lastName.errors }}</div>
    {% endif %}
    {% if form.email.errors %}
    <div class="alert alert-danger" role="alert">{{ userCreationForm.email.errors }}</div>
    {% endif %}
    <form class="form-horizontal" action="{% url 'userManageAddUserView' %}" method="post">
    {% csrf_token %}
      <div class="form-inline text-center">
        <label for="username" class="required">{{ userCreationForm.username.label }}</label>
        {{ userCreationForm.username }}
        <label for="password" class="required">{{ userCreationForm.password.label }}</label>
        {{ userCreationForm.password }}
        <label for="password2" class="required">{{ userCreationForm.password2.label }}</label>
        {{ userCreationForm.password2 }}
      </div>
      <div class="form-inline text-center">
        <label for="firstName">{{ userCreationForm.firstName.label }}</label>
        {{ userCreationForm.firstName }}
        <label for="lastName">{{ userCreationForm.lastName.label }}</label>
        {{ userCreationForm.lastName }}
        <label for="email">{{ userCreationForm.email.label }}</label>
        {{ userCreationForm.email }}
      </div>
      <div class="form-inline text-center">
        <span class="red">*Required</span>
      </div>
      <div class="form-inline text-center">
        <button class="btn btn-default">Add User</button>
        <button class="btn btn-default" onclick="this.form.reset(); return false;">Reset</button>
      </div>
    </form>
  </div>
</div>

<table class="table table-bordered">
  <tr>
    <th>Username</th>
    <th>Real Name</th>
    <th>Email</th>
    <th>Superuser</th>
    <th>Active</th>
    <th>&nbsp;</th>
  </tr>
  {% for user in users %}
  <tr>
    <td>{{ user.username }}</td>
    <td>{{ user.first_name }} {{ user.last_name }}</td>
    <td>{{ user.email }}</td>
    <td class="text-center">
      {% if user.is_superuser %}
      <img src="{% static "good_checkmark.png" %}" alt="superuser" />
      {% else %}
      <img src="{% static "bad_x.png" %}" alt="regular user" />
      {% endif %}
    </td>
    <td class="text-center">
      {% if user.is_active %}
      <img src="{% static "good_checkmark.png" %}" alt="superuser" />
      {% else %}
      <img src="{% static "bad_x.png" %}" alt="regular user" />
      {% endif %}
    </td>
    <td class="text-center">
      <a href="{% url 'userUpdate' user.id %}">Update User</a>
    </td>
  </tr>
  {% endfor %}
</table>

{% endblock %}
